body {

    background: linear-gradient(white 0%, white 12%, black 45%);

}

#logo {

    width: 50%;
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 15%;

}

#examin-logo {

    width: 100%;
    height: auto;

}

#qr-reader {

    margin: 10%;

}

/* #qr-reader-result {

    margin: auto;

} */

#export-csv {

    font-size: 28px;
    margin-top: 30%;
    margin-left: 25%;
    width: 50%;
    padding: 5%;

}